h1 {text-align: center;} 

nav {text-align: center;}
nav > a {background-color: rgb(174, 148, 199);
padding-left: 10px;
padding-right: 10px;}

#featured-property { text-align: center;
font-size: small;
margin: auto;}
#featured-property p {width: 800px;
;
margin: auto;}

#details {text-align: left;}

 div {background-color: red;
float: left;
text-align: center;
width: 25%;
}